.CategoryList {
  color: var(--col-5);
  list-style: none;
  font-size: 1.4vw;
}

.CategoryList li {
  padding: 5px;
  width: 250px;
  text-align: center;
  border-radius: 0.5vmin;
  margin-bottom: 0.5vmin;
  border: 1px solid var(--col-6);
}

.CategoryList li:hover:not(.active) {
  cursor: pointer;
  background-color: var(--col-);
  color: var(--col-);
}

.CategoryList li.active {
  color: var(--col-5);
  background-color: var(--col-3);
  border: 0.1vmin solid var(--tan-3);
}
