.CategoryList {
  display: flex;
  justify-content: center;
  color: var(--col-6);
  list-style: none;
  font-size: 16px;
}

.CategoryList li {
  padding: 8px;
  width: 120px;
  text-align: center;
  border-radius: 0.5vmin;
  margin: 10px 10px 10px 10px;
  border: 1px solid var(--col-6);
}

.CategoryList {
  padding: 0 auto;
}

.CategoryList li:hover:not(.active) {
  cursor: pointer;
  background-color: var(--col-9);
  opacity: 0.8;
}

.CategoryList li.active {
  background-color: var(--col-9);
  border: 0.1vmin solid var(--tan-3);
}
