.WorkoutFatigue {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  grid-area: wf;
}

.WorkoutFatigue table {
  border: 1px solid white;
  border-radius: 1vmin;
  width: 200px;
  margin: 15px;
  padding: 10px;
  font-size: 14px;
  color: var(--col-2);
}

.WorkoutFatigue th,
.WorkoutFatigue td {
  margin: 1px auto;
  padding: 1px;
}
