.ExerciseListItem .grid-ctr1 {
  display: grid;
  place-items: center;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "g2 bt";
}

.ExerciseListItem .grid-ctr2 {
  width: fit-content;
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "en fd";
  margin-bottom: 2vmin;
  padding: 6px;
  background-color: var(--col-3);
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 16px;
  border: 1px solid white;
  grid-area: g2;
}

.fat-data table {
  padding: 15px 15px;
}

.fat-data th,
.fat-data td {
  margin: 10px auto;
  grid-area: fd;
  font-size: 90%;
  color: var(--col-6);
  border: 1px solid var(--col-6);
  width: 80px;
  padding: 3px;
}

.ExerciseName {
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 175%;
  grid-area: en;
}

.ExerciseListItem .AddButton {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 0px;
  font-size: 70%;
  background-color: var(--col-9);
  grid-area: bt;
}

.ExerciseListItem .AddButton:disabled {
  opacity: 0.3;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
