.Exercise .grid-ctr1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Exercise .grid-ctr2 {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 0.4fr;
  grid-template-areas:
    "t idb ed"
    "t idb rmb";
  width: 550px;
  margin-bottom: 3vmin;
  padding: 5px;
  background-color: var(--col-4);
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 16px;
}

.Exercise .ExerciseTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  font-weight: bold;
  font-size: 18px;
  grid-area: t;
}

.Exercise .inc-dec-btns {
  display: flex;
  text-align: center;
  height: 20px;
  width: 80px;
  grid-area: idb;
}

.Exercise .small-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 20px;
  font-size: 14px;
  font-weight: lighter;
  padding: 0px 15px 0 15px;
}

.Exercise table {
  border: 1px solid;
  border-radius: 1vmin;
  margin: 7px auto;
  padding: 10%;
  font-size: 100%;
  margin: 10px auto;
}

.Exercise .remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fat-6);
  text-align: center;
  font-size: 70%;
  padding: 5px;
  grid-area: rmb;
}

.Exercise .exercise-dmg {
  grid-area: ed;
}

.Exercise .new-fatigue-lvl {
  grid-area: fl;
}

.Exercise .small-btn:disabled {
  opacity: 0.3;
}

.Exercise small {
  line-height: 150%;
}
