.ColorScale table {
  height: auto;
  padding: 0px;
  text-align: center;
  text-align: center;
}

.ColorScale th,
.ColorScale td {
  border: 1px solid var(--col-6);
  width: 70px;
  padding: 5px;
  font-weight: light;
}

.ColorScale th {
  font-size: small;
}

.ColorScale .safe,
.ColorScale .rest,
.ColorScale .danger {
  opacity: 0.6;
  text-align: center;
  color: var(--col-4);
  background-color: rgba(0, 0, 0, 0.616);
}

.ColorScale .rest {
  color: var(--col-8);
  opacity: 0.7;
}

.ColorScale .danger {
  color: var(--col-9);
  opacity: 0.9;
}
