.WorkoutDetail .title {
  text-align: center;
  font-weight: bold;
}

.WorkoutDetail .total {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 10%;
}

.WorkoutDetail button {
  display: flex;
  width: fit-content;
  font-size: 16px;
}
