.WorkoutDetail .title {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "nw ft";
}

.WorkoutDetail .title-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  border: 1px solid white;
  border-radius: 1vmin;
  width: 300px;
  grid-area: nw;
}
.WorkoutDetail .fat-table {
  display: flex;
  grid-area: ft;
}
.WorkoutDetail .date {
  color: var(--col-4);
}

.WorkoutDetail .title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.WorkoutDetail .total {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 10%;
}

.WorkoutDetail .total button {
  justify-content: center;
  width: 150px;
  font-size: 16px;
  background-color: var(--col-3);
}

.WorkoutDetail button {
  display: flex;
  width: fit-content;
  font-size: 16px;
}

.WorkoutDetail .no-exercises {
  margin: 25px;
  text-align: center;
  font-size: 22px;
}
